body {
    background: #f2f2f2;
}

.head-top {
    position: relative;
    margin-top: 10px;
}

.head-top h1 {
    font-size: 35px;
}

.head-top button {
    position: absolute;
    top: 10px;
    right: 90px;
    -webkit-box-shadow: 10px 10px 17px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px -15px rgba(0, 0, 0, 0.75);
}

.timeline {
    /*background-color: cadetblue;*/
    height: 150px;
    margin: 0 auto;
    /*z-index: -2;*/
}

.timeline h4 {
    margin-left: 25px;
}

.timeline-bar {
    margin: 0px 25px 0px 25px;
    padding-top: 40px;
    height: 100px;
    background: #fff;
    border-radius: 10px 10px;
    -webkit-box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
}

/*.timeline-bar .container{*/
/*    width: 100%*/
/*}*/
/*.progressbar{*/
/*    counter-reset: step;*/
/*}*/
/*.progressbar li{*/
/*    list-style-type: none;*/
/*    float: left;*/
/*    width: 33.3%;*/
/*    position: relative;*/
/*    text-align: center;*/
/*}*/
/*.progressbar li:before{*/
/*    content: counter(step);*/
/*    counter-increment: step;*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*    border: 1px solid #ddd;*/
/*    display: block;*/
/*    text-align: center;*/
/*    margin: 0 auto 10px auto;*/
/*    border-radius: 50%;*/
/*    background-color: white;*/
/*}*/
/*.progressbar li:after{*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: #ddd;*/
/*    top: 15px;*/
/*    left: -50%;*/
/*    z-index: -1;*/
/*}*/
/*.progressbar li:first-child:after{*/
/*    content: none;*/
/*}*/
/*.progressbar li.active{*/
/*    color: green;*/
/*}*/
/*.progressbar li.active:before{*/
/*    border-color: green;*/
/*}*/
/*.progressbar li.active + li:after{*/
/*    background-color: green;*/
/*}*/


#lineCont {
    width: 100%;
    height: 20%;
}

#line {
    height: 6px;
    width: 70%;
    background: #595959;
    border-radius: 5px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

#span {
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 25%;
    text-align: center;
    color: white;
}

.circle {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    top: -7px;
    border: 3px solid #63c5c0;
    cursor: pointer;
}

.circle:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #63c5c0;
    position: absolute;
    border-radius: 100%;
    top: 2px;
    left: 2px;
    display: none;
}

.circle .popupSpan {
    width: auto;
    height: auto;
    padding: 10px;
    white-space: nowrap;
    display: inline-block;
    color: #000;
    position: absolute;
    top: 20px;
    left: -75px;
    display: none;
    transition: all 0.1s ease-out;
}

.circle.hover:before, .circle.active:before {
    display: block;
}

.circle.hover .popupSpan, .circle.active .popupSpan {
    display: block;
}

.circle.active .popupSpan {
    top: -40px;
}

/*#mainCont {*/
/*    height: 80%;*/
/*    width: 100%;*/
/*    position: relative;*/
/*    color: #000;*/
/*    font-size: 62px;*/
/*    text-align: center;*/
/*    transition: all 0.2s ease-out;*/
/*}*/
/*#mainCont span {*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    top: 30%;*/
/*    transition: all 0.2s ease-out;*/
/*}*/
/*#mainCont span.right {*/
/*    left: 200%;*/
/*}*/
/*#mainCont span.center {*/
/*    left: 0% !important;*/
/*}*/
/*#mainCont span.left {*/
/*    left: -100%;*/
/*}*/

/* The Modal (background) */
.timeline-content .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.timeline-content .modal-content {
    background-color: #fefefe;
    /*margin: auto;*/
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 20%;
    position: relative;
    top: 140px;
    /*margin-left: 260px;*/
}

.timeline-content .modal-content:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 10px solid;
    border-color: transparent transparent #92278f transparent;
    left: 20px;
    top: -20px;
}

.timeline-content .modal-body {
    font-size: 14px;
}

.timeline-content .modal-footer {
    border: none;
    margin-top: 0px;
}

.timeline-content .modal-content .modal-title {
    background-color: #92278f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.timeline-content .modal-content .modal-title p {
    color: #fff;
    margin: 5px 0px;
}

.timeline-content .modal-content .close-btn {
    color: #fff;
    background-color: #92278f;
    font-size: 14px;
    padding: 5px 15px;
}

.timeline-content .modal-content .close-btn:hover {
    color: #fff;
    background-color: #b530b1;
    font-size: 14px;
    padding: 5px 15px;
}

.selected-date {
    text-align: right;
    /*margin: 0px;*/
}

.selected-content {
    margin: 0px;
}

/* The Close Button */
/*.close {*/
/*    color: #aaaaaa;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: #000;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/


.achievements {
    background-color: #fff;
    margin: 20px 20px;
    /*padding: 20px 20px;*/
    border-radius: 10px 10px;
    -webkit-box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
}

.achievements .title {
    background: #4d5f96;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}

.achievements h1 {
    font-size: 25px;
    color: #fff;
}

.achievements .card {
    padding: 0;
    margin: 10px auto;
    border: none;
    border-radius: 0px;
    text-align: center;
}

.achievements .card-mid {
    border-right: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
}

.achievements .card img {
    height: 200px;
    padding: 30px;
}

.achievements .card .content-top {
    margin-top: 60px;
}

.achievements .card .content-top p {
    font-size: 45px;
}

.achievements .card .content-top .content-left {
    border-right: 1px solid #aaaaaa;
}

.achievements .card .content-top .col-6 {
    padding: 0px;
    margin: 0 auto;
}

.community-ripples {
    background-color: #fff;
    margin: 0;
    /*padding: 20px 20px;*/
    margin: 20px 20px;
    border-radius: 10px 10px;
    -webkit-box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    padding-bottom: 10px;
}

.community-ripples .title {
    background: #4d5f96;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 15px;
}

.community-ripples h1 {
    font-size: 25px;
    color: #fff;
}

.activity-item {
    text-align: center;
    margin: 20px 0px;
}

.activity-tag {
    text-align: center;
}

.activity-tag p {
    /*background-color: grey;*/
    color: white;
    width: 100px;
    border-radius: 10px 10px;
    margin: 0 auto;
    padding: 5px 0px;
}

.community-tag {
    background-color: #f68f20;
}

.personal-tag {
    background-color: #92278f;
}

.organised-tag {
    background-color: #63c5c0;
}

.activity-img img {
    width: 80px;
    height: 50px;
}

.activity-update {
    font-size: 16px;
}

.myRipples {
    background-color: #fff;
    margin: 20px 20px;
    /*padding: 20px 20px;*/
    border-radius: 10px 10px;
    -webkit-box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 17px -11px rgba(0, 0, 0, 0.75);
}

.myRipples .title {
    background: #4d5f96;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.myRipples h1 {
    font-size: 25px;
    color: #fff;
}

/*.media .card{*/
/*    width: 460px;*/
/*    height: 400px;*/
/*    position: relative;*/
/*    !*display: flex;*!*/
/*    !*align-items: flex-end;*!*/
/*}*/

/*.media .card img{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*    object-fit: cover;*/
/*}*/
.myRipples .card {
    padding: 20px;
    margin: 10px auto;
    border: none;
}

.myRipples .card img {
    height: 150px;
}

.myRipples .card-body {
    padding: 0px;
    margin-top: 15px;
}

/* STYLES COPIED IN FOR THE RIPPLE FORM MODALS*/
/* set the background color of title and rounded corners */
.ripple-forms .modal-header {
    background-color: #91278e;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    /* nats - setting the modal title bar smaller */
    padding: 5px 16px 5px 16px;

}

/* needs to be larger than header or get white space!!!!! */
.ripple-forms .modal-content {
    border-radius: 15px 15px !important;
}

/*font color of modal title text*/
.ripple-forms .modal-title {
    color: white;

    /* nats - resetting the padding of title - to make title bar smaller */
    padding: 0;
}

/* close button of modal -- make it white and bigger */
.ripple-forms .modal-header .close {
    color: #fff;
    opacity: 1;
    font-size: 30px;
    margin-top: 0;

    /* nats - resetting the padding of x button */
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

}

.ripple-forms .modal-footer .btn-secondary {
    background-color: white;
    color: black;
    border: 1px solid black;
    width: 120px;
    font-weight: bold;
}

.ripple-forms .modal-footer .btn-primary {
    background-color: #91278e;
    color: white;
    width: 120px;
    font-weight: bold;
}

/* datepicker stuff */
.ripple-forms label {
    margin-left: 20px;
}

.ripple-forms #datepicker {
    width: 180px;
    margin: 0 20px 20px 20px;
}

.ripple-forms #datepicker > span:hover {
    cursor: pointer;
}

.fa-calendar-alt {
    position: absolute;
    margin-top: 11px;
    margin-left: -28px;
}

/**** edits by natsuki ****/
/* label is too close to radio buttons */
.ripple-forms input[type="radio"] {
  margin-left: 10px;
}

/* otherwise will not line up vertically with the checkbox */
.ripple-forms #what_ripple{
    margin-bottom: 0px;
}

.ripple-forms .what-ripple-class{
    padding-right: 0;
}

/* for the icons */
/* warning -- will enlarge when in mobile mode!!!!! */
/*.ripple-forms .form-icon {*/
/*    width: 50%;*/
/*    height: auto;*/
/*}*/

