        /* set the background color of title and roudned corners */
        .ripple-forms .modal-header {
            background-color: #91278e;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        /* needs to be larger than header or get white space!!!!! */
        .ripple-forms .modal-content {
            border-radius: 15px 15px !important;
        }

        /*font color of modal title text*/
        .ripple-forms .modal-title {
            color: white;
        }

        /* close button of modal -- make it white and bigger */
        .ripple-forms .modal-header .close {
            color: #fff;
            opacity: 1;
            font-size: 30px;
            margin-top: 0;
        }

        .ripple-forms .modal-footer .btn-secondary {
            background-color: white;
            color: black;
            border: 1px solid black;
            width: 120px;
            font-weight: bold;
        }

        .ripple-forms .modal-footer .btn-primary {
            background-color: #91278e;
            color: white;
            width: 120px;
            font-weight: bold;
        }

        /* datepicker stuff */
        .ripple-forms label {
            margin-left: 20px;
        }

        .ripple-forms #datepicker {
            width: 180px;
            margin: 0 20px 20px 20px;
        }

        .ripple-forms #datepicker > span:hover {
            cursor: pointer;
        }

        .fa-calendar-alt {
            position: absolute;
            margin-top: 11px;
            margin-left: -28px;
        }