{% extends 'template.html' %}

{% block head %}
    <title>Check-in</title>
{% endblock %}

{% block body %}

    <h3>Text: {{ text }}</h3>
    <h3>Option 1: {{ option_1 }}</h3>
    <h3>Option 2: {{ option_2 }}</h3>

    <div class="modal fade" tabindex="-1" role="dialog" id="activity_type_box">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Personal Activity Check-in</p>
                </div>
                <div class="modal-body">
                    <p><strong>Please select the type of activity you would like to share with the organiser.</strong></p>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Something really resonated with me.</p>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-primary" id="exp_btn">Select</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>I learnt something new.</p>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-primary" id="learn_btn">Select</button>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>I did something that made a difference.</p>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-primary" id="action_btn">Select</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    Peggy's test version starts here #}

        <div class="modal fade" tabindex="-1" role="dialog" id="test_type_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">Personal Activity Check-in</p>
                </div>
                <div class="modal-body">
                    <form action="/form" method="post">
                    <div class="row">
                        <input type="checkbox" id="resonate" value="resonate">
                            <p>Something really resonated with me.</p>
                    </div>
                    <br>
                    <div class="row">
                        <input type="checkbox" id="learning" value="learning">
                            <p>I learnt something new.</p>
                    </div>
                    <br>
                    <div class="row">
                        <input type="checkbox" id="action" value="action">
                            <p>I did something that made a difference.</p>
                    </div>
                    <div class="row">
                        <input type="checkbox" id="other" value="other">
                            <p>Other</p>
                    </div>
                         <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="next_btn">Next</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

{#    Peggy's test version ends here #}

    <div class="modal fade" tabindex="-1" role="dialog" id="exp_box">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/form" method="post">
                    <div class="modal-header">
                        <p class="modal-title">Personal Activity Check-in</p>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="text_input1"><strong>Tell us about your activity.</strong></label>
                            <textarea class="form-control" id="text_input1" name="text_input" rows="3" required></textarea>
                        </div>
                        <p><strong>Please answer the following questions to help us categorise your activity.</strong></p>
                        <div class="row">
                            <div class="col-9">
                                <p>Did this experience resonate with you emotionally in any way?</p>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set1" id="radio_1" value="yes" required>
                                    <label class="form-check-label" for="radio_1">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set1" id="radio_2" value="no" required>
                                    <label class="form-check-label" for="radio_2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <p>Did you feel a personal connection to this experience?</p>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set2" id="radio_3" value="yes" required>
                                    <label class="form-check-label" for="radio_3">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set2" id="radio_4" value="no" required>
                                    <label class="form-check-label" for="radio_4">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="learn_box">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/form" method="post">
                    <div class="modal-header">
                        <p class="modal-title">Personal Activity Check-in</p>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="text_input2"><strong>Tell us about your activity.</strong></label>
                            <textarea class="form-control" id="text_input2" name="text_input" rows="3" required></textarea>
                        </div>
                        <p><strong>Please answer the following questions to help us categorise your activity.</strong></p>
                        <div class="row">
                            <div class="col-9">
                                <p>Did you apply this learning or share it with someone else?</p>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set1" id="radio_5" value="yes" required>
                                    <label class="form-check-label" for="radio_5">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set1" id="radio_6" value="no" required>
                                    <label class="form-check-label" for="radio_6">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <p>Did this knowledge change your perspective or beliefs?</p>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set2" id="radio_7" value="yes" required>
                                    <label class="form-check-label" for="radio_7">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set2" id="radio_8" value="no" required>
                                    <label class="form-check-label" for="radio_8">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="action_box">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form action="/form" method="post">
                    <div class="modal-header">
                        <p class="modal-title">Personal Activity Check-in</p>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="text_input3"><strong>Tell us about your activity.</strong></label>
                            <textarea class="form-control" id="text_input3" name="text_input" rows="3" required></textarea>
                        </div>
                        <p><strong>Please answer the following questions to help us categorise your activity.</strong></p>
                        <div class="row">
                            <div class="col-9">
                                <p>Did this action involve a group or impact your community?</p>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set1" id="radio_9" value="yes" required>
                                    <label class="form-check-label" for="radio_9">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set1" id="radio_10" value="no" required>
                                    <label class="form-check-label" for="radio_10">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-9">
                                <p>Did this action have an impact beyond your local community?</p>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set2" id="radio_11" value="yes" required>
                                    <label class="form-check-label" for="radio_11">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="radio_set2" id="radio_12" value="no" required>
                                    <label class="form-check-label" for="radio_12">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src={{ url_for('static', filename='formscript.js') }}></script>

{% endblock %}