{% extends 'template.html' %}

{% block head %}
    <title>Check-in</title>
{% endblock %}

{% block body %}

    <script src={{ url_for('static', filename='formscript.js') }}></script>

        <div class="modal fade" tabindex="-1" role="dialog" id="activity_input_box">
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">

                <div class="modal-header">
                    <p class="modal-title">Personal Activity Check-in</p>
                </div>

                <div class="modal-body">

                    <p><strong>Please select the type of activity you would like to share with the organiser.</strong></p>

                    <div class="row"><p class="col-6">Something really resonated with me.</p>
                        <button type="button" class="btn btn-primary btn-sm col-3" id="butt1">Select</button></div>
                    <br>
                    <div class="row"><p class="col-6">I learned something new.</p>
                        <button type="button" class="btn btn-primary btn-sm col-3" id="butt2">Select</button></div>
                    <br>
                    <div class="row"><p class="col-6">I did something that made a difference.</p>
                        <button type="button" class="btn btn-primary btn-sm col-3" id="butt3">Select</button></div>

                </div>

            </div>

        </div>
    </div>








{#    <div class="container">#}
{#        <form action="/" method="post">#}
{#            <div class="form-group">#}
{#                <label for="input">Input your content</label>#}
{#                <textarea class="form-control" id="text-input" name="text-input" rows="10" required></textarea>#}
{#            </div>#}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
{#        </form>#}
{#    </div>#}

{% endblock %}