{% extends 'template.html' %}

{% block head %}
    <title>Second Form Modal</title>





{% endblock %}

{% block body %}




    {# NEW DIALOG BOX!!!!! #}
    <div class="modal fade" tabindex="-1" role="dialog" id="first_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title my-auto">Add a Ripple</h3>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-lg-6">
                            <h4>How did you help make a ripple for change?</h4>
                        </div>


{#                        <div class="col-lg-6 ml-auto">#}
                        <div class="ml-auto">

                            <label for="datepicker"><small>Select a ripple date:</small></label>
                            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                <input class="form-control" type="text"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>

                        </div>



                    </div>

                    <br>

                    <div class="row">

                        <div class="col-lg-3">
                            {# images go here #}
                        </div>

                        <div class="col-lg-6">

                            <div class="row">
                                <input type="checkbox" id="resonate" value="resonate">
                                <label for="resonate">Something really resonated with me.</label>
                            </div>

                            <br><br>

                            <div class="row">
                                <input type="checkbox" id="learning" value="learning">
                                <label for="learning">I learnt something new.</label>
                            </div>

                            <br><br>

                            <div class="row">
                                <input type="checkbox" id="action" value="action">
                                <label for="action">I took action that made a difference.</label>
                            </div>

                            <br><br>

                            <div class="row">
                                <input type="checkbox" id="other" value="other">
                                <label for="other">Other</label>

                                <div class="form-group" id="what_ripple">
                                    <label for="other_text" class="ml-auto"><small>What other type of ripple did you make?</small></label>
                                    <input type="text" class="ml-auto" id="other_text" size="35" placeholder="Enter a short description here">
                                </div>

                            </div>

                            <br>

                            <div class="row">
                                <p id="warning">You must select at least one category</p>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <p class="mr-auto">Page 1 of 2</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="next_btn">Next</button>
                </div>

            </div>
        </div>
    </div>






        {# NEW DIALOG BOX!!!!! #}
    <div class="modal fade" tabindex="-1" role="dialog" id="resonate_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title my-auto">Add a Ripple</h3>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-9">
                            <p>Did this resonate with you because you felt a personal connection to your own life?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="resonate_radio" id="radio_1" value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="resonate_radio" id="radio_2" value="no" required>
                            </div>
                        </div>

                    </div>

                    <br>
                    <br>

                    <p><strong>Share how you helped make a ripple for change by telling your story below.</strong></p>
                    <textarea class="form-control" id="resonate_text" name="resonate_text" rows="3" required></textarea>

                </div>



                <div class="modal-footer">
                    <p class="mr-auto">Page 2 of 2</p>
                    <button type="button" class="btn btn-secondary" id="resonate_back_btn">Back</button>
                    <button type="button" class="btn btn-primary" id="resonate_add_btn">Add Ripple</button>
                </div>

            </div>
        </div>
    </div>









        <div class="modal fade" tabindex="-1" role="dialog" id="learn_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title my-auto">Add a Ripple</h3>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-9">
                            <p>Were you able to apply what you learnt in your own life?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="learn_radio1" id="radio_1" value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="learn_radio1" id="radio_2" value="no" required>
                            </div>
                        </div>

                    </div>

                    <br>
                    <br>

                    <div class="row">

                        <div class="col-9">
                            <p>Did what you learn change your perspective or beliefs about the topic?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="learn_radio2" id="radio_1" value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="learn_radio2" id="radio_2" value="no" required>
                            </div>
                        </div>

                    </div>


                    <br>
                    <br>

                    <p><strong>Share how you helped make a ripple for change by telling your story below.</strong></p>
                    <textarea class="form-control" id="learn_text" name="learn_text" rows="3" required></textarea>

                </div>



                <div class="modal-footer">
                    <p class="mr-auto">Page 2 of 2</p>
                    <button type="button" class="btn btn-secondary" id="resonate_back_btn">Back</button>
                    <button type="button" class="btn btn-primary" id="resonate_add_ripple_btn">Add Ripple</button>
                </div>

            </div>
        </div>
    </div>






    <div class="modal fade" tabindex="-1" role="dialog" id="action_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title my-auto">Add a Ripple</h3>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-9">
                            <p>Did your action have an impact on a community or group?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="action_radio1" id="radio_1" value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="action_radio1" id="radio_2" value="no" required>
                            </div>
                        </div>

                    </div>

                    <br>
                    <br>

                    <div class="row">

                        <div class="col-9">
                            <p>Did your action have an impact regionally or nationally?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="action_radio_2" id="radio_1" value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="action_radio_2" id="radio_2" value="no" required>
                            </div>
                        </div>

                    </div>


                    <br>
                    <br>

                    <p><strong>Share how you helped make a ripple for change by telling your story below.</strong></p>
                    <textarea class="form-control" id="text_input1" name="text_input" rows="3" required></textarea>

                </div>



                <div class="modal-footer">
                    <p class="mr-auto">Page 2 of 2</p>
                    <button type="button" class="btn btn-secondary" id="resonate_back_btn">Back</button>
                    <button type="button" class="btn btn-primary" id="resonate_add_ripple_btn">Add Ripple</button>
                </div>

            </div>
        </div>
    </div>




R
       <div class="modal fade" tabindex="-1" role="dialog" id="other_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title my-auto">Add a Ripple</h3>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p><strong>Share how you helped make a ripple for change by telling your story below.</strong></p>
                    <textarea class="form-control" id="other_text_input" name="other_text_input" rows="10" required></textarea>
                </div>

                <div class="modal-footer">
                    <p class="mr-auto">Page 2 of 2</p>
                    <button type="button" class="btn btn-secondary" id="other_back_btn">Back</button>
                    <button type="button" class="btn btn-primary" id="other_add_ripple_btn">Add Ripple</button>
                </div>

            </div>
        </div>
    </div>




    <script>
        jQuery(function () {
            {# items on form_1 #}
            let form_1 = $("#first_form");
            let warning_msg =  $('#warning');
            let resonate_check = $("#resonate");
            let learning_check = $("#learning");
            let action_check = $("#action")
            let other_check = $("#other");
            let next_btn = $("#next_btn");
            let datepicker = $("#datepicker");
            let what_ripple = $("#what_ripple");

            {# items on resonate form #}
            let resonate_form = $("#resonate_form");
            let resonate_radio = $("#resonate_radio");
            let resonate_text = $("#resonate_text");
            let resonate_back_btn = $("#resonate_back_btn");
            let resonate_add_btn = $("#resonate_add_btn");

            {# items on learn form #}
            let learn_form = $("#learn_form");
            let learn_radio1 = $("#learn_radio1");
            let learn_radio2 = $("#learn_radio2");
            let learn_text = $("#learn_text");
            let learn_back_btn = $("#learn_back_btn");
            let learn_add_btn = $("#learn_add_btn");

            {# items on action form #}
            let action_form = $("#action_form");
            let action_radio1 = $("#action_radio1");
            let action_radio2 = $("#action_radio2");
            let action_text = $("#action_text");
            let action_back_btn = $("#action_back_btn");
            let action_add_btn = $("#action_add_btn");

            $('#first_form').modal();

        {#    form_1.modal();#}
        {##}
            {# setup the date picker #}
        {#    datepicker.datepicker({#}
        {#        autoclose: true,#}
        {#        todayHighlight: true#}
        {#    }).datepicker('update', new Date());#}
        {##}
            {# hide the warning #}
        {#    warning_msg.css('visibility', 'hidden');#}
        {##}
            {# hide the 'what ripple' text input #}
        {#    what_ripple.css('visibility', 'hidden');#}
        {##}
            {# click handler for ther 'other' checkbox #}
        {#    other_check.on('change', function () {#}
        {#        if (other_check.prop('checked')) {#}
        {#            what_ripple.css('visibility', 'visible');#}
        {#        }#}
        {#        else{#}
        {#            what_ripple.css('visibility', 'hidden');#}
        {#        }#}
        {#    });#}
        {##}
            {# button click handler for form_1 #}
        {#    next_btn.on("click", function() {#}
        {#        if (!(resonate_check.prop('checked') || learning_check.prop('checked') || action_check.prop('checked') || other_check.prop('checked')))#}
        {#        {#}
        {#            // flash warning if no checkboxes are selected#}
        {#            warning_msg.css('color', 'red');#}
        {#            warning_msg.css('visibility', 'visible');#}
        {#        }#}
        {#        else{#}
        {#            form_1.modal("hide");#}
        {#            resonate_form.modal();#}
        {#        }#}
        {#    })#}
        {##}
        });
    </script>

    <style>
        {# set the background color of title and roudned corners #}
        .modal-header{
            background-color: #91278e;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
             border-top-left-radius: 10px;
             border-top-right-radius: 10px;
        }

        {# needs to be larger than header or get white space!!!!! #}
        .modal-content{
            border-radius: 12px 12px !important;
        }

        {# font color of modal title text #}
        .modal-title{
            color: white;
        }

        {# close button of modal -- make it white and bigger #}
        .modal-header .close {
            color: #fff;
            opacity: 1;
            font-size: 30px;
            margin-top: 0;
        }

        .modal-footer .btn-secondary{
            background-color: white;
            color: black;
            border: 1px solid black;
            width: 100px;
            font-weight: bold;
        }

        .modal-footer .btn-primary{
            background-color: #91278e;
            color: white;
            width: 100px;
            font-weight: bold;
        }

        {# datepicker stuff #}
        label{
            margin-left: 20px;
        }
        #datepicker{
            width:180px; margin: 0 20px 20px 20px;
        }
        #datepicker > span:hover{
            cursor: pointer;
        }
    </style>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>


{% endblock %}