{% extends 'template.html' %}

{% block head %}
    <title>Check-in</title>
{% endblock %}

{% block body %}

    <script src={{ url_for('static', filename='formscript.js') }}></script>

        <div class="modal fade" tabindex="-1" role="dialog" id="activity_input_box">
        <div class="modal-dialog" role="document">

            <div class="modal-content">

                <div class="modal-header">

                </div>

                <div class="modal-body">
                    <div class="col-sm-10">

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="modal-footer">

                    </div>
                </div>

            </div>

        </div>
    </div>








{#    <div class="container">#}
{#        <form action="/" method="post">#}
{#            <div class="form-group">#}
{#                <label for="input">Input your content</label>#}
{#                <textarea class="form-control" id="text-input" name="text-input" rows="10" required></textarea>#}
{#            </div>#}
{#            <button type="submit" class="btn btn-primary">Submit</button>#}
{#        </form>#}
{#    </div>#}

{% endblock %}