{% extends 'template.html' %}

{% block head %}
    <title>Second Form Modal</title>





{% endblock %}

{% block body %}




    {# NEW DIALOG BOX!!!!! #}
    <div class="modal fade" tabindex="-1" role="dialog" id="test_type_form2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title">Add a Ripple</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-lg-6">
                            <h4>How did you help make a ripple for change?</h4>
                        </div>


{#                        <div class="col-lg-6 ml-auto">#}
                        <div class="ml-auto">

                            <label for="datepicker"><small>Select a ripple date:</small></label>
                            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                <input class="form-control" type="text"/>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>

                        </div>



                    </div>

                    <br>

                    <div class="row">

                        <div class="col-lg-3">
                            {# images go here #}
                        </div>

                        <div class="col-lg-6">

                            <div class="row">
                                <input type="checkbox" id="resonate" value="resonate">
                                <label for="resonate">Something really resonated with me.</label>
                            </div>

                            <br><br>

                            <div class="row">
                                <input type="checkbox" id="learning" value="learning">
                                <label for="learning">I learnt something new.</label>
                            </div>

                            <br><br>

                            <div class="row">
                                <input type="checkbox" id="action" value="action">
                                <label for="action">I took action that made a difference.</label>
                            </div>

                            <br><br>

                            <div class="row">
                                <input type="checkbox" id="other" value="other">
                                <label for="other">Other</label>
                                <label for="other_text" class="ml-auto"><small>What other type of ripple did you make?</small></label>
                                <input type="text" class="ml-auto" id="other_text" size="35" placeholder="Enter a short description here">
                            </div>

                            <br>

                            <div class="row">
                                <p id="warning">You must select at least one category</p>
                            </div>


                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <p class="mr-auto">Page 1 of 2</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="next_btn">Next</button>
                </div>

            </div>
        </div>
    </div>



    <script>
        jQuery(function(){
            $("#test_type_form2").modal()
        });

        jQuery(function () {
          $("#datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
          }).datepicker('update', new Date());
        });

        jQuery(function () {

            let warning_msg =  $('#warning');
            let resonate_check = $("#resonate");
            let learning_check = $("#learning");
            let action_check = $("#action")
            let other_check = $("#other");
            let next_btn = $("#next_btn");

            warning_msg.css('visibility', 'hidden');

            next_btn.on("click", function() {

                if (!(resonate_check.prop('checked') && learning_check.prop('checked') && action_check.prop('checked') && other_check.prop('checked')))
                {
                    // flash warning if no checkboxes are selected
                    warning_msg.css('color', 'red');
                    warning_msg.css('visibility', 'visible');
                }
            })
        });
    </script>

    <style>
        label{margin-left: 20px;}
        #datepicker{width:180px; margin: 0 20px 20px 20px;}
        #datepicker > span:hover{cursor: pointer;}
    </style>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>


{% endblock %}