{% extends 'template.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">MakeRipples</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, at dolorem iusto laudantium maiores
            nemo porro quas quia recusandae ut! Temporibus, vero voluptate? Dicta fuga iusto laboriosam numquam omnis
            perspiciatis?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At beatae debitis deleniti, dicta distinctio
            eligendi enim iusto nihil nostrum officia porro quas quod recusandae reprehenderit sed sit soluta temporibus
            totam?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" id="dash_btn" href="/user_dashboard" role="button">Go to User</a>
            <a class="btn btn-primary btn-lg" id="form_btn" href="/organiser_dashboard" role="button">Go to
                Organiser</a>
        </p>
    </div>
{% endblock %}