{% extends 'template.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
           <div class="jumbotron">
                <h1 class="display-4">Make Ripples</h1>
                <p class="lead">This can be removed. Lorem Ipsum. Hero Unit </p>
                <hr class="my-4">
                <p>Click below for the user dashboard yo. </p>
                <p class="lead">

                    <a class="btn btn-primary btn-lg" id="dash_btn" href="/user_dashboard" role="button">Go to Dashboard</a>
                    <a class="btn btn-primary btn-lg" id="form_btn" href="/organiser_dashboard" role="button">Go to Organiser</a>

                </p>
            </div>
{% endblock %}