{% extends 'template.html' %}

{% block head %}
    <title>Check-in</title>
{% endblock %}

{% block body %}
    <div class="container">
        <p>You sent: {{ message }}</p>
    </div>
    <div class="container">
        <form action="/" method="post">
            <div class="form-group">
                <label for="input">Input your content</label>
                <textarea class="form-control" id="text-input" name="text-input" rows="10" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src={{ url_for('static', filename='myscript.js') }}></script>
{% endblock %}