{% extends 'template.html' %}

{% block head %}
    <title>Stream Summary</title>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center">Stream Title</h1>
        <div class="row">
            <div class="col-11">
                <h2>Timeline</h2>
            </div>
            <div class="col-1">
                <div class="row">
                    <h3>Add Ripple</h3>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary btn-circle" aria-label="Add Ripple">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8"></div>
            <div class="col-12 col-lg-4"></div>
        </div>
    </div>
    <script src={{ url_for('static', filename='myscript.js') }}></script>
{% endblock %}