{% extends 'template.html' %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboardStyle.css') }}">
    <title>Stream Summary</title>
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="head-top">
            <h1 class="text-center">< Mountains to Sea ></h1>
            <button type="button" class="btn" aria-label="Add Ripple" id="ripple_btn">
                <i class="fa fa-plus"></i> Add Ripple
            </button>
        </div>
{#        <div class="row">#}
{#            <div class="col-10">#}
{#                <h1 class="text-center">< Mountains to Sea ></h1>#}
{#            </div>#}
{#            <div class="addRippleBtn col-2 d-flex align-items-center">#}
{#                <button type="button" class="btn btn-primary" aria-label="Add Ripple">#}
{#                <i class="fa fa-plus"></i> Add Ripple#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            <div class="timeline col-11">
                <h4>Timeline</h4>
                <div class="timeline-bar">
{#                    <div class="container">#}
{#                        <ul class="progressbar">#}
{#                            <li class="active">Step 1</li>#}
{#                            <li>Step 2</li>#}
{#                            <li>Step 3</li>#}
{#                        </ul>#}
{#                     </div>#}
                        <div id="lineCont">
                            <div id="line"></div>
                            <div id="span">Date Placeholder</div>
                        </div>
                        <div class="timeline-content">
                            <div id="myModal" class="modal">
                                <div class="modal-content">
                                    <div class="modal-title">
                                        <p>Ripple Details</p>
                                    </div>
    {#                                <span class="close">&times;</span>#}
                                    <div class="content-wrap modal-body">
                                        <p class="selected-date">June 12, 2015</p>
                                        <p class="selected-content">Lorem ipsum dolor sit amet, consectetur.</p>
                                    </div>
    {#                                <p id="mainCont"></p>#}
                                    <div class="modal-footer">
                                        <a href="#" class="mr-auto">View more details</a>
                                        <button type="button" class="btn close-btn">Okay</button>
                                    </div>
    {#                                <a href="#" class="close close-btn">Okay</a>#}
                                </div>
                            </div>
                        </div>
                </div>
            </div>
{#            <div class="col-1">#}
{#                <div class="row">#}
{#                    <h3>Add Ripple</h3>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <button type="button" class="btn btn-primary btn-circle btn-xl" aria-label="Add Ripple">#}
{#                        <i class="fa fa-plus"></i>#}
{#                    </button>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="row d-flex justify-content-center">
            <div class="left-section col-lg-8">
               <div class="achievements row">
                   <div class="title col-12">
                       <h1>Achievements</h1>
                   </div>
                        <div class="card col-lg-4 col-md-4 col-sm-11">
                            <div class="card-body">
                                <p class="card-text">How I've made Ripples for changes</p>
                            </div>
                            <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                        </div>

                        <div class="card card-mid col-lg-4 col-md-4 col-sm-11">
                            <div class="card-body">
                                <p class="card-text">My Ripples and Activities</p>

                                <div class="row content-top">
                                    <div class="col-6">
                                        <p class="content-left">4</p>
                                    </div>
                                    <div class="col-6">
                                        <p>6</p>
                                    </div>
                                </div>
                                <div class="row content-bottom">
                                    <div class="col-6">
                                        <p>Ripples</p>
                                    </div>
                                    <div class="col-6">
                                        <p>Events</p>
                                    </div>
                                </div>
                            </div>
{#                            <img src=" {{ url_for('static', filename='images/image2.jpg') }}" alt="image"/>#}

                        </div>

                        <div class="card col-lg-4 col-md-4 col-sm-11">
                            <div class="card-body">
                                <p class="card-text">Community Ripples and Activities</p>
                                <div class="row content-top">
                                    <div class="col-6">
                                        <p class="content-left">95</p>
                                    </div>
                                    <div class="col-6">
                                        <p>20</p>
                                    </div>
                                </div>
                                <div class="row content-bottom">
                                    <div class="col-6">
                                        <p>Ripples</p>
                                    </div>
                                    <div class="col-6">
                                        <p>Events</p>
                                    </div>
                                </div>
                            </div>
{#                            <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>#}

                        </div>

               </div>
                <div class="community-ripples">
                    <div class="title">
                        <h1>Community Ripples</h1>
                    </div>
                    <div class="activity-item d-flex justify-content-center row">
                        <div class="activity-tag col-lg-2 my-auto col-sm-4 col-4">
                            <p class="personal-tag">Personal</p>
                        </div>
                        <div class="activity-desc col-lg-6 my-auto col-sm-8 col-8">
                            <p class="my-auto">Activity Description...Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>

                        <div class="activity-img col-lg-2 my-auto col-sm-4 col-4">
                            <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                        </div>

                        <div class="activity-update col-lg-2 my-auto col-sm-8 col-8">
                            <p class="my-auto">Make a ripple 2 days ago</p>
                        </div>
                    </div>
                    <div class="activity-item d-flex justify-content-center row">
                        <div class="activity-tag col-lg-2 my-auto col-sm-4 col-4">
                            <p class="organised-tag">Organised</p>
                        </div>
                        <div class="activity-desc col-lg-6 my-auto col-sm-8 col-8">
                            <p class="my-auto">Activity Description...Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="activity-img col-lg-2 my-auto col-sm-4 col-4">
                            <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                        </div>
                        <div class="activity-update col-lg-2 my-auto col-sm-8 col-8">
                            <p class="my-auto">Make a ripple 4 days ago</p>
                        </div>
                    </div>
                    <div class="activity-item d-flex justify-content-center row">
                        <div class="activity-tag col-lg-2 my-auto col-sm-4 col-4">
                            <p class="community-tag">Community</p>
                        </div>
                        <div class="activity-desc col-lg-6 my-auto col-sm-8 col-8">
                            <p class="my-auto">Activity Description...Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="activity-img col-lg-2 my-auto col-sm-4 col-4">
                            <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                        </div>
                        <div class="activity-update col-lg-2 my-auto col-sm-8 col-8">
                            <p class="my-auto">Make a ripple 5 days ago</p>
                        </div>
                    </div>
                    <div class="activity-item d-flex justify-content-center row">
                        <div class="activity-tag col-lg-2 my-auto col-sm-4 col-4">
                            <p class="personal-tag">Personal</p>
                        </div>
                        <div class="activity-desc col-lg-6 my-auto col-sm-8 col-8">
                            <p class="my-auto">Activity Description...Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                        <div class="activity-img col-lg-2 my-auto col-sm-4 col-4">
                            <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                        </div>
                        <div class="activity-update col-lg-2 my-auto col-sm-8 col-8">
                            <p class="my-auto">Make a ripple 7 days ago</p>
                        </div>
                    </div>

                     <div class="activity-item d-flex justify-content-center row">
                        <div class="activity-tag col-lg-2 my-auto col-sm-4 col-4">
                            <p class="personal-tag">Personal</p>
                        </div>
                        <div class="activity-desc col-lg-6 my-auto col-sm-8 col-8">
                            <p class="my-auto">Activity Description...Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                         <div class="activity-img col-lg-2 my-auto col-sm-4 col-4">
                             <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                        </div>
                        <div class="activity-update col-lg-2 my-auto col-sm-8 col-8">
                            <p class="my-auto">Make a ripple 16 days ago</p>
                        </div>
                    </div>

                     <div class="activity-item d-flex justify-content-center row">
                        <div class="activity-tag col-lg-2 my-auto col-sm-4 col-4">
                            <p class="organised-tag">Organised</p>
                        </div>
                        <div class="activity-desc col-lg-6 my-auto col-sm-8 col-8">
                            <p class="my-auto">Activity Description...Lorem ipsum dolor sit amet, consectetur.</p>
                        </div>
                         <div class="activity-img col-lg-2 my-auto col-sm-4 col-4">
                             <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                        </div>
                        <div class="activity-update col-lg-2 my-auto col-sm-8 col-8">
                            <p class="my-auto">Make a ripple 17 days ago</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="right-section col-lg-3">
                <div class="myRipples row">

{#                    <div class="row">#}
                        <div class="title">
                            <h1>My Ripples</h1>
                        </div>
                        <div class="card col-lg-11 col-md-3 col-sm-3">
                            <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                            <div class="card-body">
                                <strong class="card-text">Native Tree Planting</strong>
                                <p class="card-text">Make a ripple 2 days ago</p>
                            </div>
                        </div>

                        <div class="card col-lg-11 col-md-3 col-sm-3">
                            <img src=" {{ url_for('static', filename='images/image2.jpg') }}" alt="image"/>
                            <div class="card-body">
                                <strong class="card-text">Climate crisis rally</strong>
                                <p class="card-text">Make a ripple 7 days ago</p>
                            </div>
                        </div>

                        <div class="card col-lg-11 col-md-3 col-sm-3">
                            <img src=" {{ url_for('static', filename='images/image1.jpg') }}" alt="image"/>
                            <div class="card-body">
                                <strong class="card-text">Made a donation to LandSAR</strong>
                                <p class="card-text">Make a ripple 16 days ago</p>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>

{#    FORM MODALS COPIED IN BELOW THIS LINE     #}

    <div class="ripple-forms">
        {# NEW DIALOG BOX!!!!! #}
    <div class="modal fade" tabindex="-1" role="dialog" id="first_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title my-auto">Add a Ripple</h5>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-lg-6">
                            <p><strong>How did you help make a ripple for change?</strong></p>
                        </div>


                        <div class="ml-auto">

                            <label for="datepicker"><small>Select a ripple date:</small></label>
                            <div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy">
                                <input class="form-control" type="text"/>
                                <span class="input-group-addon"><i class="fas fa-calendar-alt"></i></span>
                            </div>

                        </div>
                    </div>

                     <div class="row align-items-center">
                            <div class="col-lg-auto">
                                <img src="{{ url_for('static', filename='images/img-1-2.png') }}" class="form-icon">
                            </div>
                            <div class="col-lg-auto">
                                <input type="checkbox" id="resonate" value="resonate">
                                <label for="resonate">Something really resonated with me.</label>
                            </div>
                        </div>

                        <br>

                        <div class="row align-items-center">
                            <div class="col-lg-auto">
                                <img src="{{ url_for('static', filename='images/img-2-2.png') }}" class="form-icon">
                            </div>
                            <div class="col-lg-auto">
                                <input type="checkbox" id="learning" value="learning">
                                <label for="learning">I learnt something new.</label>
                            </div>
                        </div>

                        <br>

                        <div class="row align-items-center">
                            <div class="col-lg-auto">
                                <img src="{{ url_for('static', filename='images/img-3-2.png') }}" class="form-icon">
                            </div>
                            <div class="col-lg-auto">
                                <input type="checkbox" id="action" value="action">
                                <label for="action">I took action that made a difference.</label>
                            </div>
                        </div>

                        <br>

                        <div class="row align-items-center">
                            <div class="col-lg-auto">
                                <img src="{{ url_for('static', filename='images/img-4-2.png') }}" class="form-icon">
                            </div>
                            <div class="col-lg-auto">
                                <input type="checkbox" id="other" value="other">
                                <label for="other">Other</label>
                            </div>
{#                        </div>#}
{##}
{#                        <div class="row">#}
{#                            <div class="col-lg-auto">#}
                            <div class="ml-auto">
                                <div class="form-group" id="what_ripple">
                                    <label for="other_text"><small>What other type of ripple did you make?</small></label>
                                    <input type="text" id="other_text" size="35"
                                           placeholder="Enter a short description here">
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        {# needs a column or else it does not align with other rows!!!!! #}
                        <div class="col-lg-auto">
                            <p id="warning">You must select at least one category</p>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <p class="mr-auto">Page 1 of 2</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="next_btn">Next</button>
                </div>

            </div>
        </div>
    </div>


    {# NEW DIALOG BOX!!!!! #}
    <div class="modal fade" tabindex="-1" role="dialog" id="resonate_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title my-auto">Add a Ripple</h3>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-9">
                            <p>Did this resonate with you because you felt a personal connection to your own life?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="personal_radio" id="radio_1"
                                       value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="personal_radio" id="radio_2"
                                       value="no" required>
                            </div><p id="warning_resonate1">Please select Yes or No</p>
                        </div>

                    </div>

                    <br>
                    <br>

                    <p><strong>Share how you helped make a ripple for change by telling your story below.</strong></p>
                    <textarea class="form-control" id="resonate_text" name="resonate_text" rows="3" required></textarea>
                        <p id="warning_resonate2">This is a required field</p>

                </div>


                <div class="modal-footer">
                    <p class="mr-auto">Page 2 of 2</p>
                    <button type="button" class="btn btn-secondary" id="resonate_back_btn" name="back_btn">Back</button>
                    <button type="button" class="btn btn-primary" id="resonate_add_btn" name="submit_btn">Add Ripple
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="learn_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title my-auto">Add a Ripple</h5>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-9">
                            <p>Were you able to apply what you learnt in your own life?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="applied_radio" id="radio_1"
                                       value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="applied_radio" id="radio_2"
                                       value="no" required>
                            </div>
                        <p id="warning_learn1">Please select Yes or No</p>
                            </div>

                    </div>

                    <br>
                    <br>

                    <div class="row">

                        <div class="col-9">
                            <p>Did what you learn change your perspective or beliefs about the topic?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="perspective_radio" id="radio_1"
                                       value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="perspective_radio" id="radio_2"
                                       value="no" required>
                            </div>
                        <p id="warning_learn2">Please select Yes or No</p>
                            </div>

                    </div>


                    <br>
                    <br>

                    <p><strong>Share how you helped make a ripple for change by telling your story below.</strong></p>
                    <textarea class="form-control" id="learn_text" name="learn_text" rows="3" required></textarea>
                        <p id="warning_learn3">This is a required field</p>
                </div>


                <div class="modal-footer">
                    <p class="mr-auto">Page 2 of 2</p>
                    <button type="button" class="btn btn-secondary" id="resonate_back_btn" name="back_btn">Back</button>
                    <button type="button" class="btn btn-primary" id="resonate_add_ripple_btn" name="submit_btn">Add
                        Ripple
                    </button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="action_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title my-auto">Add a Ripple</h5>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="row">

                        <div class="col-9">
                            <p>Did your action have an impact on a community or group?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="community_radio" id="radio_1"
                                       value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="community_radio" id="radio_2"
                                       value="no" required>
                            </div>
                        <p id="warning_action1">Please select Yes or No</p>
                            </div>

                    </div>

                    <br>
                    <br>

                    <div class="row">

                        <div class="col-9">
                            <p>Did your action have an impact regionally or nationally?</p>
                        </div>

                        <div class="col-3">
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_1">Yes</label>
                                <input class="form-check-input" type="radio" name="national_radio" id="radio_1"
                                       value="yes" required>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="radio_2">No</label>
                                <input class="form-check-input" type="radio" name="national_radio" id="radio_2"
                                       value="no" required>
                            </div>
                        <p id="warning_action2">Please select Yes or No</p>
                            </div>

                    </div>


                    <br>
                    <br>

                    <p><strong>Share how you helped make a ripple for change by telling your story below.</strong></p>
                    <textarea class="form-control" id="text_input1" name="text_input" rows="3" required></textarea>
                        <p id="warning_action3">This is a required field</p>
                </div>


                <div class="modal-footer">
                    <p class="mr-auto">Page 2 of 2</p>
                    <button type="button" class="btn btn-secondary" id="resonate_back_btn" name="back_btn">Back</button>
                    <button type="button" class="btn btn-primary" id="resonate_add_ripple_btn" name="submit_btn">Add
                        Ripple
                    </button>
                </div>

            </div>
        </div>
    </div>





    <div class="modal fade" tabindex="-1" role="dialog" id="other_form">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title my-auto">Add a Ripple</h5>
                    <button type="button" class="close my-auto" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p><strong>Share how you helped make a ripple for change by telling your story below.</strong></p>
                    <textarea class="form-control" id="other_text_input" name="other_text_input" rows="10"
                              required></textarea>
                <p id="warning_other">This is a required field</p>
                    </div>

                <div class="modal-footer">
                    <p class="mr-auto">Page 2 of 2</p>
                    <button type="button" class="btn btn-secondary" id="other_back_btn" name="back_btn">Back</button>
                    <button type="button" class="btn btn-primary" id="other_add_ripple_btn" name="submit_btn">Add
                        Ripple
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>


{#    FORM MODALS COPIED IN ABOVE THIS LINE      #}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>#}
    <script>
        let ripples = JSON.parse('{{ ripples | tojson | safe }}');
    </script>
    <script src={{ url_for('static', filename='rippleobject.js') }}></script>
    <script src={{ url_for('static', filename='timeline.js') }}></script>
    <script src={{ url_for('static', filename='formscript.js') }}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

{% endblock %}